@charset "UTF-8";
/* css reset */
body {
  margin: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  max-width: 100%;
}

.wrap {
  width: 100%;
  background: #1f2436;
  font-family: "Black Ops One", cursive;
  font-family: "Kalam", cursive;
  font-family: "Noto Sans TC", sans-serif;
}

.zeyada {
  font-family: "Zeyada", cursive;
}

.navbar {
  padding: 0 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: transparent;
  height: 80px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 2;
}

.logo {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-indent: 101%;
  width: 116px;
  height: 70px;
}

.logo-bg {
  background-image: url(../image/logo.png);
}

.logo-bg-white {
  background-image: url(../image/logo白.png);
}

.more-btn {
  font-weight: bold;
  font-size: 1.2rem;
  padding: 0.5rem 0;
  color: black;
  display: block;
  text-decoration: none;
}

.banner {
  height: 856px;
  width: 100%;
  position: relative;
  background-image: url(../image/banner.jpg);
  background-size: cover;
  background-position: center center;
  z-index: 1;
}

@media (max-width: 1280px) {
  .banner {
    background-image: url(../image/mobile-banner.jpg);
    background-position: 50% 30%;
  }
}
.banner-gradient {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 2;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(rgba(0, 0, 0, 0)), to(rgb(31, 36, 54)));
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgb(31, 36, 54));
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

section > h2 {
  color: white;
  font-size: 3rem;
  text-align: center;
  margin-top: 4rem;
  font-weight: bold;
}

.left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 3rem;
}

.left-bg {
  position: relative;
  width: 600px;
  height: 100vh;
  background: url(../image/左手.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 20% 20%;
}

.left-gradient {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(31, 36, 54, 0.7);
}

.left-img {
  position: absolute;
  width: 500px;
  left: 30%;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  -webkit-transition: 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  transition: 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 10px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.66) 0 30px 60px 0, inset #333 0 0 0 5px, inset rgba(255, 255, 255, 0.5) 0 0 0 6px;
          box-shadow: rgba(0, 0, 0, 0.66) 0 30px 60px 0, inset #333 0 0 0 5px, inset rgba(255, 255, 255, 0.5) 0 0 0 6px;
}

.left-mobile-img {
  display: none;
}

.left-text {
  color: white;
  margin-right: 8rem;
}

.left-text > h3 {
  margin-bottom: 1.5rem;
  font-size: 2.5rem;
  font-weight: bold;
}

.left-text > p {
  font-size: 1.1rem;
  line-height: 1.3;
  margin-bottom: 2rem;
}

@media (max-width: 1280px) {
  .left {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .left-bg {
    width: 100%;
    height: 30vh;
    background-position: 50% 25%;
    background-attachment: unset;
    margin-bottom: 2rem;
    -webkit-transition: 1.5s;
    transition: 1.5s;
  }
  .left-img {
    display: none;
  }
  .left-mobile-img {
    display: block;
    position: relative;
    width: 50%;
    margin-right: 1rem;
  }
  .left-mobile-img > img {
    position: absolute;
    height: 150%;
    left: 50%;
    -o-object-fit: cover;
       object-fit: cover;
    -webkit-transform: translate(-50%, -30%);
            transform: translate(-50%, -30%);
    border-radius: 5px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.66) 0 30px 60px 0, inset #333 0 0 0 5px, inset rgba(255, 255, 255, 0.5) 0 0 0 6px;
            box-shadow: rgba(0, 0, 0, 0.66) 0 30px 60px 0, inset #333 0 0 0 5px, inset rgba(255, 255, 255, 0.5) 0 0 0 6px;
    cursor: pointer;
  }
  .left-mobile-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding: 1rem;
  }
  .left-text {
    margin-right: 0;
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }
  .left.active .left-bg {
    width: max(100vw, 500px);
    height: max(100vh, 707px);
    background-position: 50% 100%;
    background-size: contain;
    -webkit-transition: 1s;
    transition: 1s;
  }
  .left.active .left-gradient {
    opacity: 0;
    -webkit-transition: 1s;
    transition: 1s;
  }
  .left.active .left-mobile-img {
    display: none;
  }
  .left.active .left-text {
    text-align: center;
    width: 100%;
  }
}
@media (max-width: 768px) {
  .left-mobile-img > img {
    height: 110%;
    -webkit-transform: translate(-50%, -10%);
            transform: translate(-50%, -10%);
  }
  .left-text > h3 {
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
  }
  .left-text > p {
    margin-bottom: 1.5rem;
    font-size: 0.8rem;
  }
}
.left-right-btn {
  width: 4rem;
  height: 4rem;
  font-size: 0.8rem;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid;
}

@media (max-width: 768px) {
  .pulse {
    font-size: 0.6rem;
    width: 3.5rem;
    height: 3.5rem;
  }
}
.right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 3rem;
}

.right-bg {
  position: relative;
  width: 600px;
  height: 100vh;
  background: url(../image/右手.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 80% 20%;
}

.right-gradient {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(31, 36, 54, 0.7);
}

.right-img {
  position: absolute;
  width: 500px;
  right: 30%;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  -webkit-transition: 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  transition: 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 10px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.66) 0 30px 60px 0, inset #333 0 0 0 5px, inset rgba(255, 255, 255, 0.5) 0 0 0 6px;
          box-shadow: rgba(0, 0, 0, 0.66) 0 30px 60px 0, inset #333 0 0 0 5px, inset rgba(255, 255, 255, 0.5) 0 0 0 6px;
}

.right-mobile-img {
  display: none;
}

.right-text {
  color: white;
  margin-left: 8rem;
  text-align: end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.right-text > h3 {
  margin-bottom: 1.5rem;
  font-size: 2.5rem;
  font-weight: bold;
}

.right-text > p {
  font-size: 1.1rem;
  line-height: 1.3;
  margin-bottom: 2rem;
}

@media (max-width: 1280px) {
  .right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 2rem;
  }
  .right-bg {
    width: 100%;
    height: 30vh;
    background-position: 55% 22%;
    background-attachment: unset;
    margin-bottom: 2rem;
    -webkit-transition: 1.5s;
    transition: 1.5s;
  }
  .right-img {
    display: none;
  }
  .right-mobile-img {
    display: block;
    position: relative;
    width: 50%;
    margin-left: 1rem;
  }
  .right-mobile-img > img {
    position: absolute;
    height: 150%;
    left: 50%;
    -o-object-fit: cover;
       object-fit: cover;
    -webkit-transform: translate(-50%, -30%);
            transform: translate(-50%, -30%);
    border-radius: 5px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.66) 0 30px 60px 0, inset #333 0 0 0 5px, inset rgba(255, 255, 255, 0.5) 0 0 0 6px;
            box-shadow: rgba(0, 0, 0, 0.66) 0 30px 60px 0, inset #333 0 0 0 5px, inset rgba(255, 255, 255, 0.5) 0 0 0 6px;
    cursor: pointer;
  }
  .right-mobile-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    width: 100%;
    padding: 1rem;
  }
  .right-text {
    margin-left: 0;
    width: 50%;
  }
  .right.active .right-bg {
    max-width: 500px;
    height: max(100vh, 707px);
    background-position: 50% 100%;
    background-size: contain;
    -webkit-transition: 1s;
    transition: 1s;
  }
  .right.active .right-gradient {
    opacity: 0;
    -webkit-transition: 1s;
    transition: 1s;
  }
  .right.active .right-mobile-img {
    display: none;
  }
  .right.active .right-text {
    text-align: center;
    width: 100%;
  }
}
@media (max-width: 768px) {
  .right-mobile-img > img {
    height: 110%;
    -webkit-transform: translate(-50%, -10%);
            transform: translate(-50%, -10%);
  }
  .right-text > h3 {
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
  }
  .right-text > p {
    margin-bottom: 1.5rem;
    font-size: 0.8rem;
  }
}
.footer {
  background: rgb(248, 200, 144);
}

.footer-container {
  width: 100%;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-logo {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-indent: 101%;
  width: 100px;
  height: 60px;
  background-image: url(../image/footer.png);
}

.contact-me {
  position: relative;
  font-size: 30px;
  width: 300px;
}

.contact-me > a {
  position: absolute;
  padding: 0.5rem;
  display: block;
  color: #1f2436;
}

.contact-me > .instagram {
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.contact-me > .facebook {
  left: 20%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.contact-me > .personal-facebook {
  left: 40%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.contact-me > .twitter {
  left: 60%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.contact-me > .pixiv {
  left: 80%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.contact-me > *:hover {
  -webkit-animation-name: share;
          animation-name: share;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes share {
  50% {
    -webkit-transform: scale(1.1) translateY(-50%);
            transform: scale(1.1) translateY(-50%);
  }
  100% {
    -webkit-transform: scale(1) translateY(-50%);
            transform: scale(1) translateY(-50%);
  }
}

@keyframes share {
  50% {
    -webkit-transform: scale(1.1) translateY(-50%);
            transform: scale(1.1) translateY(-50%);
  }
  100% {
    -webkit-transform: scale(1) translateY(-50%);
            transform: scale(1) translateY(-50%);
  }
}
.copyright {
  text-align: center;
  font-size: 0.8rem;
  padding-bottom: 0.5rem;
  color: #1f2436;
}

.business {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  margin-top: 2rem;
}

.business-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 300px;
  height: 300px;
  border-radius: 0.5rem;
  overflow: hidden;
  cursor: pointer;
  margin-bottom: 1rem;
}
.business-container img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.business-container .business-topic-mask {
  position: absolute;
  top: 5px;
  left: 5px;
  bottom: 5px;
  right: 5px;
  border-radius: 0.5rem;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.business-container:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.business-container:hover .business-topic-mask {
  top: 8px;
  left: 8px;
  bottom: 8px;
  right: 8px;
  border: 1px solid rgba(255, 255, 255, 0.7);
  background: rgba(0, 0, 0, 0.1);
}

.article-banner {
  height: 50vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url(../image/try2.jpg);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  background-size: cover;
  background-position: 70% 0;
  z-index: 1;
  -webkit-box-shadow: 0 0 10px 10px rgba(31, 36, 54, 0.5);
          box-shadow: 0 0 10px 10px rgba(31, 36, 54, 0.5);
}

.article-banner-mask {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.article-banner-mask.active {
  background: rgba(0, 0, 0, 0.2);
}

.article-banner > h2 {
  font-size: 5rem;
  font-weight: bold;
  text-align: center;
  line-height: 0.8;
}
.article-banner > h2 > div {
  font-size: 7rem;
  font-weight: 600;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  margin-bottom: 4rem;
}

:root {
  --articles-height: 50vh;
  --article-flex: 5;
}

.articles {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: height 0.7s;
  transition: height 0.7s;
  height: 50vh;
}

.articles.active {
  height: var(--articles-height);
}

@media (max-width: 1280px) {
  .article-banner {
    background-image: url(../image/article-banner.jpg);
  }
  .article-banner > h2 {
    font-size: 2.5rem;
  }
  .article-banner > h2 > div {
    font-size: 3rem;
  }
}
.article-notice {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 2;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.article-notice.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.article-notice p {
  color: white;
  font-size: 1.1rem;
}

.notice-circle-container {
  position: relative;
  width: 100px;
  height: 100px;
}

.notice-circle {
  position: absolute;
  margin-top: 2rem;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 1px solid white;
}

.notice-circle-first {
  -webkit-animation-name: notice-circle;
          animation-name: notice-circle;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.notice-circle-second {
  -webkit-animation-name: notice-circle;
          animation-name: notice-circle;
  -webkit-animation-delay: 300ms;
          animation-delay: 300ms;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.notice-circle-third {
  -webkit-animation-name: notice-circle;
          animation-name: notice-circle;
  -webkit-animation-delay: 600ms;
          animation-delay: 600ms;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes notice-circle {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0;
  }
}

@keyframes notice-circle {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0;
  }
}
.article {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-position: center center;
  background-size: cover;
  -webkit-transition: background 0.2s, opacity 1s, -webkit-box-flex 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11), -webkit-box-shadow 1s;
  transition: background 0.2s, opacity 1s, -webkit-box-flex 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11), -webkit-box-shadow 1s;
  transition: flex 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11), background 0.2s, opacity 1s, box-shadow 1s;
  transition: flex 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11), background 0.2s, opacity 1s, box-shadow 1s, -webkit-box-flex 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11), -ms-flex 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11), -webkit-box-shadow 1s;
  -webkit-box-shadow: inset 0 0 20px 15px rgba(88, 50, 50, 0.5);
          box-shadow: inset 0 0 20px 15px rgba(88, 50, 50, 0.5);
  cursor: pointer;
  opacity: 0.5;
}
.article:hover {
  opacity: 1;
}

.article.active {
  -webkit-box-flex: var(--article-flex);
      -ms-flex: var(--article-flex);
          flex: var(--article-flex);
  opacity: 1;
  -webkit-box-shadow: inset 0 0 10px 5px rgba(73, 58, 58, 0.5);
          box-shadow: inset 0 0 10px 5px rgba(73, 58, 58, 0.5);
  -webkit-transition: 1s;
  transition: 1s;
}

.article.open-active {
  background-size: contain;
  background-repeat: no-repeat;
}

.scroll-spin-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 50%;
  background: transparent;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.scroll-spin {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: transparent;
  overflow: hidden;
}

.scroll-spin img {
  width: 30px;
  position: absolute;
  top: 7px;
  left: 11px;
  z-index: 2;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}

.scroll-spin img.active {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 0;
}

.scroll-spin > span {
  position: absolute;
  height: 100%;
  width: 50%;
  overflow: hidden;
}

.scroll-spin:after {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 46px;
  height: 46px;
  background: #1f2436;
  border-radius: 50%;
}

.mask {
  position: absolute;
  left: 100%;
  top: 0;
  height: 100%;
  width: 100%;
  background: white;
  -webkit-transform-origin: 0 50% 0;
          transform-origin: 0 50% 0;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

.left-spin {
  left: 0;
}

.right-spin {
  left: 50%;
}

.right-spin > .mask {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  left: -100%;
  -webkit-transform-origin: 100% 50% 0;
          transform-origin: 100% 50% 0;
}

.category-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: translateY(-80px);
          transform: translateY(-80px);
  -webkit-transition: all 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11);
  transition: all 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11);
}

.category-menu li a {
  padding: 0.5rem 0.7rem;
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
}

.category-menu.active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.category-menu-mobile {
  position: fixed;
  z-index: 10;
  width: 130px;
  top: 85px;
  right: -130px;
  text-align: end;
  opacity: 0;
  -webkit-transition: all 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11);
  transition: all 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11);
}

.category-menu-mobile.open {
  right: 0;
}

.category-menu-mobile li a {
  padding: 0.5rem 0.7rem;
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
}

.category-menu-icon {
  display: none;
  width: 35px;
  height: 35px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}
.category-menu-icon > .hamburger {
  width: 100%;
  height: 3px;
  border-radius: 5px;
  position: relative;
  background: #000;
  -webkit-transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.category-menu-icon > .hamburger:before, .category-menu-icon > .hamburger:after {
  content: "";
  width: 100%;
  height: 3px;
  position: absolute;
  border-radius: 5px;
  background: #000;
  -webkit-transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.category-menu-icon > .hamburger:before {
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}
.category-menu-icon > .hamburger:after {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.hamburger.active {
  background: white;
}
.hamburger.active:before, .hamburger.active:after {
  background: white;
}

.category-menu-icon.open > .hamburger {
  -webkit-transform: translateX(35px);
          transform: translateX(35px);
}
.category-menu-icon.open > .hamburger:before {
  -webkit-transform: translateX(-35px) rotate(315deg);
          transform: translateX(-35px) rotate(315deg);
}
.category-menu-icon.open > .hamburger:after {
  -webkit-transform: translateX(-35px) rotate(-315deg);
          transform: translateX(-35px) rotate(-315deg);
}

@media (max-width: 768px) {
  .category-menu {
    display: none;
  }
  .category-menu-mobile {
    opacity: 1;
  }
  .category-menu-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}/*# sourceMappingURL=style.css.map */