/* css reset */
body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.wrap {
  width: 100%;
  background: #1f2436;
  font-family: 'Black Ops One', cursive;
  font-family: 'Kalam', cursive;
  font-family: 'Noto Sans TC', sans-serif;
}

.navbar {
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  height: 80px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 2;
}

.logo {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-indent: 101%;
  width: 116px;
  height: 70px;
}

.logo-bg {
  background-image: url(../image/logo.png);
}

.logo-bg-white {
  background-image: url(../image/logo白.png);
}

.banner {
  height: 856px;
  width: 100%;
  position: relative;
  background-image:url(../image/banner.jpg);
  background-size: cover;
  background-position: center center;
  z-index: 1;
}

.banner-gradient {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 2;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(31, 36, 54, 1));
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

section > h2 {
  color: white;
  font-size: 3rem;
  text-align: center;
  margin-top: 4rem;
}

.left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 3rem;
}

.left-bg {
  position: relative;
  width: 600px;
  height: 100vh;
  background: url(../image/左手.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 20% 20%;
}

.left-gradient {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(31, 36, 54, 0.7);
}

.left-img {
  position: absolute;
  max-width: 500px;
  left: 30%;
  top: 50%;
  transform: translate(0, -50%);
  transition: .5s cubic-bezier(0.23, 1, 0.32, 1);;
  // border-radius: 50%;
  border-radius: 10px;
  box-shadow:
    rgba(black, 0.66) 0 30px 60px 0,
    inset #333 0 0 0 5px,
    inset rgba(white, 0.5) 0 0 0 6px;
}

.left-mobile-img {
  display: none;
}

.left-text {
  color: white;
  margin-right: 8rem;
}

.left-text > h3 {
  margin-bottom: 1.5rem;
  font-size: 2.5rem;
}

.left-text > p {
  font-size: 1.1rem;
  line-height: 1.3;
  margin-bottom: 2rem;
}

@media (max-width: 1280px) {
  .left {
    flex-direction: column;
    margin-bottom: 2rem;
  }

  .left-bg {
    width: 100%;
    height: 30vh;
    background-position: 40% 20%;
    margin-bottom: 2rem;
  }

  .left-img {
    display: none;
  }

  .left-mobile-img {
    display: block;
    position: relative;
    width: 50%;
  }

  .left-mobile-img > img {
    position: absolute;
    height: 150%;
    left: 50%;
    margin-right: 1rem;
    object-fit: cover;
    transform: translate(-50%,-30%);
    border-radius: 5px;
    box-shadow:
      rgba(black, 0.66) 0 30px 60px 0,
      inset #333 0 0 0 5px,
      inset rgba(white, 0.5) 0 0 0 6px;
  }

  .left-mobile-text {
    display: flex;
    width: 100%;
    padding: 1rem;
  }

  .left-text {
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    margin-right: 0;
    width: 50%;
  }
}

@media (max-width: 768px) {
  .left-mobile-img > img {
    height: 110%;
    transform: translate(-50% ,-10%);
  }

  .left-text > h3 {
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
  }

  .left-text > p {
    margin-bottom: 1.5rem;
    font-size: .8rem;
  }
}

.btn > .pulse {
  background: none;
  border: 2px solid;
  line-height: 1;
  margin: 0.5em;
  width: 5rem;
  height: 5rem;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
}

.right {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  margin-top: 4rem;
}

.right-bg {
  position: relative;
  width: 600px;
  height: 100vh;
  background: url(../image/右手.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 80% 20%;
}

.right-gradient {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(31, 36, 54, 0.7);
}

.right-img {
  position: absolute;
  width: 500px;
  right: 30%;
  top: 50%;
  transform: translate(0,-50%);
  transition: .5s cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 10px;
  box-shadow:
    rgba(black, 0.66) 0 30px 60px 0,
    inset #333 0 0 0 5px,
    inset rgba(white, 0.5) 0 0 0 6px;
}

/* .right-bg:hover > img {
  transform: translate(-20px,-50%);
  transition: .5s;
} */

.right-text {
  color: white;
  margin-left: 8rem;
}

.right-text > h3 {
  margin-bottom: 1.5rem;
  font-size: 2.5rem;
}

.right-text > p {
  font-size: 1.1rem;
  line-height: 1.3;
  margin-bottom: 2rem;
}

@media (max-width: 1280px) {
  .right {
    flex-direction: column;
    margin-bottom: 2rem;
  }

  .right-bg {
    width: 100%;
    height: 30vh;
    background-position: 40% 20%;
    margin-bottom: 2rem;
  }

  .right-img {
    display: none;
  }

  .right-mobile-img {
    display: block;
    position: relative;
    width: 50%;
  }

  .right-mobile-img > img {
    position: absolute;
    height: 150%;
    left: 50%;
    margin-right: 1rem;
    object-fit: cover;
    transform: translate(-50%,-30%);
    border-radius: 5px;
    box-shadow:
      rgba(black, 0.66) 0 30px 60px 0,
      inset #333 0 0 0 5px,
      inset rgba(white, 0.5) 0 0 0 6px;
  }

  .right-mobile-text {
    display: flex;
    width: 100%;
    padding: 1rem;
  }

  .right-text {
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    margin-right: 0;
    width: 50%;
  }
}

@media (max-width: 768px) {
  .right-mobile-img > img {
    height: 110%;
    transform: translate(-50% ,-10%);
  }

  .right-text > h3 {
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
  }

  .right-text > p {
    margin-bottom: 1.5rem;
    font-size: .8rem;
  }
}

.footer {
  width: 100%;
  margin-top: 5rem;
  padding: 2rem ;
  background: rgb(248,200,144);
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.footer-logo {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-indent: 101%;
  width: 100px;
  height: 60px;
  background-image: url(../image/footer.png);
}

.contact-me {
  position: relative;
  font-size: 30px;
  width: 300px;
}

.contact-me > a {
  position: absolute;
  padding: .5rem;
  display: block;
  color: #1f2436;
}

.contact-me > .instagram {
  transform: translateY(-50%);
}

.contact-me > .facebook {
  left: 20%;
  transform: translateY(-50%);
}

.contact-me > .personal-facebook {
  left: 40%;
  transform: translateY(-50%);
}

.contact-me > .twitter {
  left: 60%;
  transform: translateY(-50%);
}

.contact-me > .pixiv {
  left: 80%;
  transform: translateY(-50%);
}

.contact-me > *:hover {
  animation-name: share;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes share {
  50% { transform: scale(1.1) translateY(-50%); }
  100% { transform: scale(1) translateY(-50%); }
}